.Gist { 
    border: 2px solid black;
    background-color: grey;
    margin-left: 37%;
    margin-right: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;;
}

